extends layout

block content
  h1= title
  p The online SBML to MATLAB Translator
  <a href="https://github.com/stanley-gu/node-sbml2matlab" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  #accordionContainer  
    #accordion
      h2
        a(href='#') Input SBML (paste your SBML model below)
      #pane1
        #editor1
      h2 
        a(href='#') Translate to MATLAB (copy translation to your clipboard)
      #pane2
        #editor2
    