extends layout

block content
  script(type='text/javascript', src='/javascripts/main.js')
  <a href="https://github.com/stanley-gu/node-sbml2matlab" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  div#app
    br
    p The online SBML to MATLAB Translator
    #accordionContainer  
      #accordion
        h2
          a(href='#') Input SBML
        #pane0
          ul
            li
              a(href='#pane1') Paste SBML
            li
              a(href='#tab2') Upload SBML
          #tab2
            br
            form(enctype="multipart/form-data")
              input(type='file', name='file')
              input(type='button', id='upload', value='Submit')
          #pane1
            #editor1
        h2 
          a(href='#') Translate to MATLAB
        #pane2
          #editor2


  div#about 
    h2 What is sbml2matlab?
    :markdown
      `sbml2matlab` is a Systems Biology Markup Language (SBML) to MATLAB function converter. It is lightweight and written in C.

      This webapp contains a running instance of `sbml2matlab`, which runs the SBML conversion on a [node.js](http://nodejs.org/) server. 

      You can find `sbml2matlab` source [here](https://github.com/stanley-gu/sbml2matlab) and the source for this website [here](https://github.com/stanley-gu/node-sbml2matlab).

    h2 What are Limitations of the Translations?
    :markdown
      Events and algebraic rules are not supported. Further details may be found [here](http://code.google.com/p/sbwtools/wiki/CurrentValidation).

    h2 Need a model?
    :markdown
      You can find many curated models in the [BioModels Repository](http://www.ebi.ac.uk/biomodels-main/).

    h2 Error in your translation?
    :markdown
      Please note the issue [on github](https://github.com/stanley-gu/sbml2matlab/issues).

